*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --clr-red: #B32137;
    --clr-purple: #81256C;
}

.events--container {
    margin: 0;
    display: flex;
    flex-direction: column;
    margin: 70px 0;
    gap: 70px;
}

.event--item {
    background: linear-gradient(45deg, var(--clr-red), var(--clr-purple));
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    border-radius: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 50px;
}

.event--img1 {
    width: 446.4px;
    height: 301.6px;
    background-image: url('/images/Typewriting\ event.jpg');
    background-size: cover;
    background-position: center;
    transform: scale(1.25);
    transform-origin: right;
    border-radius: 70px;
}

.event--img2 {
    width: 446.4px;
    height: 301.6px;
    background-image: url('/images/mandarinchinese.jpg');
    background-size: cover;
    background-position: center;
    transform: scale(1.25) translateX(20%);
    transform-origin: right;
    border-radius: 70px;
}

.event--img3 {
    width: 446.4px;
    height: 301.6px;
    background-image: url('/images/english\ conversation\ group.jpg');
    background-size: cover;
    background-position: center;
    transform: scale(1.25);
    transform-origin: right;
    border-radius: 70px;
}

.event--img4 {
    width: 446.4px;
    height: 301.6px;
    background-image: url('/images/Cultural\ Exchange.jpg');
    background-size: cover;
    background-position: center;
    transform: scale(1.25) translateX(20%);
    transform-origin: right;
    border-radius: 70px;
}

.event--title {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.event--desc--container {
    max-width: 666px;
    padding-left: 50px;
}

.library--container {
    margin: 0 auto;
}

.event--item:nth-child(2),
.event--item:nth-child(4) {
    justify-content: flex-start;
    gap: 100px;
}


.library--item1 {
    background: linear-gradient(45deg, var(--clr-red), var(--clr-purple));
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 190px;
    align-items: center;
    border-radius: 60px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.library--img1 {
    width: 800px;
    height: 532px;
    background-image: url('/images/Library\ Outside\ 2.jpg');
    background-size: cover;
    background-position: center;
    transform: scale(1.25) translateX(10%);
    transform-origin: center;
    border-radius: 70px;
}

.library--title1 {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    transform: translateY(-60%);
}

.library--title2 {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;

}

.library--desc--container {
    max-width: 900px;
    max-height: 1200px;
    padding-right: 100px;
    padding-left: 50px;
    padding-bottom: 10px;
    transform: translateX(-20%);
}

.library--desc {
    font-size: 18px;
    max-width: 463px;
    max-height: 79px;
}

.social--media--icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    transform: translateX(90%) translateY(150%);
}

.library--item2 {
    background: linear-gradient(45deg, var(--clr-red), var(--clr-purple));
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 190px;
    align-items: center;
    border-radius: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;
}

.library--img2 {
    width: 700px;
    height: 500px;
    background-image: url('/images/Location\ +pinpoint.png');
    background-size: cover;
    border-radius: 70px;
    transform: scale(1.25) translateX(-10%);
}

.library--desc--container2 {
    max-width: 900px;
    max-height: 900px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.world--icon {
    display: inline;
    height: 30px;
    width: 30px;
}


.library--location {
    font-size: 30px;
    display: flex;
    gap: 10px;
}

.phone--icon {
    display: inline;
    height: 24px;
    width: 24px;

}

.library--phone {
    font-size: 30px;
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.email--icon {
    width: 25px;
    height: 25px;
}

.library--email {
    font-size: 30px;
    font-size: 30px;
    display: flex;
    gap: 10px;
}




@media (max-width: 800px) {

    .events--container {
        flex-direction: column;
        align-items: center;
    }

    .event--item {
        flex-direction: column-reverse;
        justify-content: center;
        max-width: 450px;
    }


    .event--item:nth-child(2) {
        flex-direction: column;
    }

    .event--item:nth-child(4) {
        flex-direction: column;
    }

    .event--img1 {
        max-width: 70vw;
        transform-origin: center;
        transform: scale(1.2) translateY(-10%);
    }

    .event--img2 {
        max-width: 70vw;
        transform-origin: center;
        transform: scale(1.2) translateY(-10%);

    }

    .event--img3 {
        max-width: 70vw;
        transform-origin: center;
        transform: scale(1.2) translateY(-10%);
    }

    .event--img4 {
        max-width: 70vw;
        transform-origin: center;
        transform: scale(1.2) translateY(-10%);
    }


    .event--desc--container {
        padding: 1em;
    }

    .library--item1,
    .library--item2 {
        background: linear-gradient(45deg, var(--clr-purple), var(--clr-red));
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5em auto;
        max-width: 500px;
        height: 700px;
    }

    .event--item:nth-child(2),
    .event--item:nth-child(4) {
        gap: 0;
    }

    .library--img1 {
        width: 450px;
        height: 300px;
        transform-origin: top;
        transform: scale(1.25) translateY(-90px);
    }

    .library--img2 {
        width: 450px;
        height: 300px;
        transform-origin: center;
        transform: scale(1.25) translateY(-25%);
    }

    .library--item2 {
        flex-direction: column-reverse;
    }

    .library--title1 {
        font-size: 40px;
        transform: translateX(20%) translateY(-10%);
    }

    .library--desc {
        font-size: 17px;

    }

    .library--title2 {
        font-size: 40px;
        transform: translateY(-10%);
        transform-origin: left;
    }

    .library--desc--container2 {
        transform: translateX(-20%);

    }


}